.App {
  text-align: center;
  margin-top: 50px;
  overflow: scroll;
}

.start {
  position: fixed;
  bottom: 15px;
  display: none;
}

.btn-send {
  background-color: #4259E1;
  color: #ffffff;
  border: none;
}

.message-timon {
  background-color: #4259E1;
  color: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20px 10px 20px;
}

.btn-action {
    background-color: #FFFFFF;
    color: #51DDAA;
    border: 1px solid #51DDAA;
}

.btn-action:hover {
  background-color: #51DDAA;
  color: #FFFFFF;
  border: 1px solid transparent;
}

.btn-action:focus {
  border: 1px solid transparent;
}